&spi1 {
    status = "okay";
    pinctrl-0 = <&spi1_sck_pa5 &spi1_miso_pa6 &spi1_mosi_pa7>;
    cs-gpios = <&gpioa 15 GPIO_ACTIVE_LOW>;
};

&i2c3 {
	pinctrl-0 = <&i2c3_scl_pc0 &i2c3_sda_pc1>;
	status = "okay";
	clock-frequency = <I2C_BITRATE_FAST>;
};